$color_dark: #3a3a3a;
$color_light: #e2dfdf;
$color_contrast-dark: #030364;
$color_contrast-light: #b3c1ff;

$color_text-contrast-dark: $color_contrast-dark;
$color_text-contrast-light: $color_contrast-light;
$color_text-dark: $color_dark;
$color_text-light: $color_light;

$color_background-dark: $color_dark;
$color_background-light: $color_light;