@import '../../styles/mixins/mixins.scss';
@import '../../styles/placeholders/placeholders.scss';
@import '../../styles/variables/variables.scss';

.form-container,
.form-header,
.preview-container,
.text-preview-container {
    @extend %columnCentered;
    @extend %paletteLight;
    @extend %paddingMedium;
    @extend %marginStandard;
    position: relative;
    width: 80%;
}

.img-preview {
    height: 200px;
    max-height: 100%;
    max-width: 100%;
    object-fit: cover;
    width: 200px;
}

.img-preview-container {
    height: 200px;
    width: 200px;
}

.main-container {
    @extend %columnCentered;
    position: relative;
    padding: 150px 0 30px 0;
}

button {
    @extend %paletteDark;
    @extend %paddingStandard;
}

button,
input,
select {
    border-radius: 5px;
}

input,
label,
select {
    @extend %columnCentered;
    @extend %marginStandard;
    @extend %paddingStandard;
}

label {
    font-weight: bold;
}