@import '../../styles/mixins/mixins.scss';
@import '../../styles/placeholders/placeholders.scss';
@import '../../styles/variables/variables.scss';

.form-container {
    @extend %paletteLight;
    @extend %paddingMedium;
    position: relative;
    width: 50%;
}

.form-header {
    @extend %paddingZero;
    @extend %paletteLight;
    @extend %columnSpaceBetween;
    margin: 120px 0 30px 0;
    width: 100%;
}

.form-section {
    label {
        @extend %rowCentered;
        @extend %marginStandard;
        width: 50%;
        font-weight: bold;
    }

    input,
    select {
        @extend %paddingStandard;
        @extend %marginStandard;
        width: 50%;

    }
}

.img-preview {
    height: 200px;
    max-height: 100%;
    max-width: 100%;
    object-fit: cover;
    width: 200px;
}

.img-preview-container {
    height: 200px;
    width: 200px;
}

.main-container {
    @extend %rowSpaceBetween;
}

.preview-container {
    width: 50%;
}